[Unit]
Description=Prometheus read adapter for CloudWatch
After=network.target

[Service]
User=nobody
Group=nogroup
Type=simple
Restart=always
RestartSec=30
EnvironmentFile=/etc/default/cloudwatch_read_adapter
ExecStart=/usr/local/bin/cloudwatch_read_adapter $ARGS
TimeoutStopSec=20s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
